:root {
    --first-color: #8B0000;
    --second-color: #2E2E2E;
    --third-color: #f2f2f2
}

#container {
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-rows: 160px 1fr 100px;
    grid-template-columns: 100%;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

footer {
    grid-area: footer;
    background-color: var(--second-color);
}

header {
    grid-area: header;
    background-color: var(--second-color);

    border-bottom: 3px solid var(--first-color);

    display: grid;
    grid-template-columns: 1fr 150px;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "h-text h-img"
    "h-buttons h-img";
}

main {
    grid-area: main;

    background-color: var(--second-color);
}

header > h1 {
    grid-area: h-text;

    font-size: 45px;

    padding: 10px 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    grid-area: h-buttons;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* PROFILE IMAGE */

.profile-img {
    grid-area: h-img;

    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img > figure {
    width: 100px;
    height: 100px;

    position: relative;
}

.profile-img > figure > img {
    width: 100%;
    height: 100%;

    position: relative;
    
    z-index: 1;
}

.profile-img > figure::before {
    content: "";
    height: 92%;
    width: 92%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: var(--first-color);
    border-radius: 50%;

    box-shadow: inset 0 0 3px #2E2E2E;
    z-index: 0;
}

.profile-img > figure::after {
    content: "";
    height: 85%;
    width: 85%;

    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 50%;

    z-index: 2;
}

/* LINK STYLE (A TAG) */

a {
    text-decoration: none;
    background-color: var(--first-color);

    padding: 10px 7px;
    margin: 0 10px;

    border: 1px solid var(--third-color);
    border-radius: 6px;

    position: relative;
}

a:active {
    background-color: var(--third-color);

    color: var(--first-color);
}

a:hover {
    filter: brightness(1.1);
}

/* STATE CLASSES */

.buttons .visit::before {
    content: "";

    width: 100%;
    height: 3px;

    background-color: var(--first-color);

    position: absolute;

    left: 50%;
    top: 120%;

    transform: translate(-50%, -50%);
}

/* DRIVERS CSS */

#home-drivers {
    display: grid;
    grid-template-rows: 90px 1fr;
}

.drivers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    justify-items: center;

    row-gap: 20px;
}

.drivers-create {
    padding-right: 30px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.driver {
    width: 300px;
    height: 300px;

    background-color: var(--first-color);

    border: 1px solid var(--third-color);
    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.7fr 1fr 1fr;
}

.driver > div {
    width: 100%;
    height: 100%;

    padding-left: 20px;

    font-size: 18px;

    display: flex;
    align-items: center;
}

.name {
    font-size: 24px;
}

.level {

}

.number {

}

.color {

}

.country {

}

.flag {
    width: 50px;
    height: auto;

    position: relative;
}

.flag > img {
    width: 100%;
    height: auto;

    display: block;

    position: relative;
}

.div-flag {
    display: flex;
    justify-content: center;
    align-items: center;
}

.actions {
    padding: 0 !important;

    grid-column: span 2;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.actions .share {
    background-color: green;
}

.actions .edit {
    background-color: orangered;
}

.actions .delete {
    background-color: red;
}

.actions a:active {
    background-color: var(--third-color);
}

.actions .share:active {
    color: green;
}

.actions .edit:active {
    color: orangered;
}

.actions .delete:active {
    color: red;
}

/* SCROLL BACK CSS */
.come-to-top {
    position: fixed !important;
    
    width: 50px;
    height: 50px;

    border-radius: 50%;

    right: 10px;
    bottom: 20px;

    opacity: 0;
    transition: opacity 0.4s ease-in-out;

    display: flex;
    justify-content: center;
    align-items: center;
}

.visible {
    opacity: 1;
}